node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
!.env.test.example

# typescript incremental build info
*.tsbuildinfo

# editor / OS junk
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db
